{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/trecolum.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body -%}
    
 <div id="fixedtop" class="clearfix">
	<div id="headercont" class="clearfix">
    	<div id="headerleft">
        	<a title="" href="#"><img alt="" src="{{ asset('images/logo-example.jpg') }}" /></a>
        </div>
    	<div id="headerright">
            <div class="menu">
            </div>
        </div>
    </div>
</div>
   


    <div class="center">
        <h1>SELECCIONAR MESA</h1>
        <div class="columns">
            <div class="oneone">
                <div class="imgHolder alignLeft"><img src="{{ asset('images/logo-example.jpg') }}" alt="image" /></div>
            </div>
            <div class="oneThird">
                <form action="{{ path('index') }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                        <p>
                            <button type="submit">Create</button>
                        </p>
                </form>
            </div>
            <div class="onetow">
                <p></p>
            </div>
        </div>
    </div>
</div>
 </div>
 <div id="maincont" class="clearfix">   
 <div id="footercont" class="clearfix">
        <p>Carta Mitra &copy; 2013 - Cabra Cordoba</p>
    </div>
     </div>


{%endblock%}