{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/stylemio1.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body -%}
<div id="fixedtop" class="clearfix">
	<div id="headercont" class="clearfix">
    	<div id="headerleft">
        	<a title="" href="#"><img alt="" src="{{ asset('images/logo-example.jpg') }}" /></a>
        </div>
    	<div id="headerright">
            <div class="menu">
                <ul>
                    <li><a title="" href="{{ path('principal')}}">Inicio</a></li>
                    <li><a title="" href="{{ path('platos', { 'id': eplato.tipoid })}}">Platos</a></li>
                    <li><a title="" href="{{ path('fincomanda')}}">Comanda</a></li>
                    <li><a title="" href="">Pedir</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="maincont" class="clearfix">
	<div class="center">
            <strong class="subHeading">{{eplato.nombre}}</strong>
		<div class="columns">
                    <div class="halfa">
			<div class="imgHolder alignLeft"><img src="{{ asset(efoto.url) }}" alt="image" /></div>
                    </div>
                    <div class="half"><h3>{{eplato.nombre}}</h3>
			<div class="halftext">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus, tortor vel vehicula pharetra, massa tellus elementum nunc, eu pulvinar urna risus a orci.</p>
                             <h3>{{eplato.precio}} €</h3>
                             <p>
                                <a  href="{{ path('comanda', { 'plato': eplato.id })}}" class="boton gris" type="submit" >Añadir</a>
                                <a  href="{{ path('platos', { 'id': eplato.tipoid })}}" class="boton gris" type="submit" >Volver</a>
                             </p>  
			</div>
                   </div>
            </div>
	</div>
    <div id="footercont" class="clearfix">
        <p>Carta Mitra &copy; 2013 - Cabra Cordoba</p>
    </div>
</div>

{%endblock%}
    
